audioop-lts==0.2.2
certifi==2026.5.20
cffi==2.1.0
charset-normalizer==3.4.7
click==8.1.8
colorama==0.4.6
gTTS==2.5.4
idna==3.18
numpy==2.4.6
pycparser==3.0
pygame-ce==2.5.7
requests==2.34.2
scipy==1.17.1
sounddevice==0.5.5
SpeechRecognition==3.16.1
standard-aifc==3.13.0
standard-chunk==3.13.0
typing_extensions==4.15.0
urllib3==2.7.0
